<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon New Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
      
        body {
            margin: 0 auto;
            height: 100vh;
            max-width: 100vw;
            font-size: 16;
            font-family: 'Quicksand', sans-serif;
            padding: 1rem;
            background-color: #ee1515;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            margin-right: 5vw;
        }

        input {
            width: 100%;
        }

        .button {
            background-color: #f0f0f0 ;
            color: #222224;
        }

    </style>
  </head>
  <body>
      <div class="container">
        <h1>Edit Pokemon</h1>
        <form action="/pokemon/<%=pos%>?_method=PUT" method="POST">
          <input type="text" name="name" id="name" value="<%=pokemon.name%>"/>
          <input type="text" name="img" id="img" value="<%=pokemon.img%>"/>
          <input type="text" name="type" id="type" value="<%=pokemon.type%>" multiple/>
          <input type="text" name="hp" id="hp" value="<%=pokemon.stats.hp%>"/>
          <input type="text" name="attack" id="attack" value="<%=pokemon.stats.attack%>"/>
          <input type="text" name="defense" id="defense" value="<%=pokemon.stats.defense%>"/>
          <input type="text" name="spattack" id="spattack" value="<%=pokemon.stats.spattack%>"/>
          <input type="text" name="spdefense" id="spdefense" value="<%=pokemon.stats.spdefense%>"/>
          <input type="text" name="speed" id="speed" value="<%=pokemon.stats.speed%>"/>

          <input type="submit" value="Save changes" class="button"/>
        </form>
      </div>

  </body>
</html>
